
.chirp {
    background-color: lightblue;
    border: 2px solid navy;
}

#delchirp {
    background-color: silver;
}

h1 {
    background-color: lightblue;
    text-align: center;
    color: lightseagreen;
}

#btn {
    font-family: 'Luckiest Guy', cursive;
    color: lightblue;
}

label {
    color: lightseagreen;
}

body {
    margin-left: 3em;
}

ul {
    list-style-type: none;
}

li {
    list-style-type: none;
}